::-webkit-scrollbar{
  width:18px;
  background-color: #33444C;
}
::-webkit-scrollbar-thumb{
  background-color: #87949a;
  border-radius: 8px;
}
::-webkit-scrollbar-button:start {
  background-color: #fff;
  background-image: url("./assets/up.png")  ;
  background-size: 18px 18px;

}
::-webkit-scrollbar-button:end {
  background-color: #fff;
  background-image: url("./assets/down.png")  ;
  background-size: 18px 18px;

}

html {
  font-size: 62.5%;
}

body{
  scrollbar-face-color: #87949a;
  scrollbar-base-color: #33444C;
}

html, body, :global(#root) {
  height: 100%;
  margin: 0px auto;
  background: #232c31;
  /*width: 1920px;*/
  min-width: 1410px;
}

:global(#root .ant-timeline-item-head-custom) {
  position: absolute;
  text-align: center;
  width: 30px;
  left: -8px;
  line-height: 1;
  border: 0;
  height: 30px;
  border-radius: 0;
  padding: 0;
  font-size: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
}

:global(#root .ant-timeline-item-tail) {
  position: absolute;
  left: 5px;
  top: 20px;
  height: 83%;
  border-left: 2px solid #e9e9e9;
}

:global(#root .ant-timeline-item-head) {
  background-color: rgba(0, 0, 0, 0);
}

:global(#root .ant-timeline-item-content) {
  padding: 0 0 10px 24px;
  font-size: 12px;
  position: relative;
  top: -9px;
}

:global(div .ant-collapse-content) {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  padding: 0;
  background-color: #151a20;
}


:global(div .ant-collapse-content-box) {
  padding-top: 0px;
  padding-bottom: 0px;
}

:global(#root .ant-menu-dark) {
  color: rgba(255, 255, 255, 0.67);
  background: #1B4052 !important;
}

:global(#root .ant-menu.ant-menu-dark .ant-menu-item-selected) {
  background-color: #109DEC;
}
:global(#root .ant-menu) {
  background-color: #044F6C;
  color: #fff;
}
:global(#root .ant-menu-inline) {
  border-right: 1px solid #044F6C;
}
:global(#root .ant-menu-vertical) {
  border-right: 1px solid #044F6C;
}
:global(#root .ant-menu-vertical .ant-menu-item) {
  padding: 0 16px;
  font-size: 14px;
  line-height: 48px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(#root .ant-menu-inline .ant-menu-item){
  padding: 0 16px;
  font-size: 14px;
  line-height: 48px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(#root .ant-menu-vertical .ant-menu-submenu-title){
  padding: 0 16px;
  font-size: 14px;
  line-height: 48px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(#root .ant-menu-inline .ant-menu-submenu-title){
  padding: 0 16px;
  font-size: 14px;
  line-height: 48px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(div .ant-collapse .ant-collapse-item){
  border-bottom: #33444e;
}
:global(div .ant-table-row){
  background-color: #ececec;
}
:global(div .ant-table-thead tr th){
  background-color: #dfdfdd;
  border-bottom: 1px solid #d3d2d5;
  color: #304250;
}
:global(div .ant-table){
  color: #00ace4;
}
:global(div .ant-tabs-bar){
  border-bottom: 0;
  margin-bottom: 10px;
}
:global(#root .header_x04bf2){
  border-bottom: 0;
}
:global(#root .face_t9cp46){
  border-bottom: 0;
}

:global(div .ant-select-disabled){
  color: rgba(0, 0, 0, 0.6);
}

:global(div .ant-table-body){
  overflow: hidden;
}
:global(div .ant-menu-item a){
  color: #e9e9e9;
}

:global(div .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected){
  background-color: #304351;
}

:global(div .ant-pagination-total-text){
  color: #ffffff;
}

:global(div .ant-pagination-item){
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline;
  margin-right: 6px;

  padding-top: 7px;
  padding-bottom: 4px;
  padding: 7px 3px 5px 2px;
  font-family: Arial;
}
/*:global(.ant-table-tbody > tr > td) {*/
  /*text-align: center;*/
/*}*/

/*:global(div .ant-table-thead tr th) {*/
  /*text-align: center;*/
/*}*/
:global(#root .ant-table-thead tr th ) {
  text-align: center;
}
:global(div .ant-modal-body ) {
  padding:0;
}
:global(#root .ant-table-tbody > tr > td ) {
  text-align: center;
}
:global(#root .ant-radio ) {
  vertical-align: middle;
}